<h1><%=@game[0]%></h1>

<form action='/home/<%=@genres%>/<%= @id %>' method="POST">
  <input type='text' name="words" placeholder="comment something"></input>
  <button type='submit'>SUBMIT</button>
</form>

<%@comments.each do |comment|%>
<h3><%=comment['com_text']%><%=comment['user_id']%><%=$user_id%></h3>
<%end%>